*{
    margin: 0;
    /*padding: 0;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    }


.Profile{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 75% 25%;
    background-color: #002868;
    padding-left: 6em;
    text-align: center;
    justify-content: center;
    position: fixed;}

.Profilepic{
    border-radius: 95%;
    padding-top: 1em;
    min-width: 150px;
    width: 100%;
    
}
    
h1{
    color: white;
    text-align: center;
    padding-top: 1.5em;
   }

h2{
        color: lightskyblue;
}

#frase{
    grid-row-start: 2;
    grid-column-start:2;
    font-style: italic;
    color: white;
    text-align: right;
   padding-right: 2%;
    font-family: cursive;
    
}
h3{
    color: white;
}

section{
    color: white;
}

a{
    color: white;
}

h4{
    color: lightyellow;
    font-family: cursive;
}

p{
    color: white;
}

ul{
    color: white;
}

main{
    display: flex;
    flex-direction: row;

}
.contenedor {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: black;
    
}

.contenedor_2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: black;
    
}

.contenedor_3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    
}

.columna_imagen {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: black;
    
}

.column_job {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: black;
    
}

.Software_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}



.Contact{
    padding-top: 15em;
    padding-left: 1em;
   
    text-align: center;
}

.Languages{
    /*background-color: lightblue;*/
    padding-top: 2.5em;
    text-align: center;
    /*border: 2px solid;*/ 
}

.Skills{
    /*background-color: lightblue;*/
    padding-top: 2.5em;
    padding-bottom: 2em;
    padding-right:2.5em;
    text-align: center;
    margin: 0 auto;
    /*border: 2px solid;*/
}

.Hobbies{
    /*background-color: lightblue;*/
    padding-top: 2em;
    padding-right:2.5em;
    text-align: center;
   /* border: 2px solid;*/
    
}

.Education{
    padding-top: 15em;
    text-align: center;
    margin: 0 auto;
}

#Education{
    color: yellow;
}

.About_me{
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 2em;
    text-align: center;
    margin: 0 auto;
    padding-right: 5em;
}

.Imagenes{
    width: 100px;    
}

#Stellantis
{
    width: 120px;
}
#Honeywell
{
    width: 115px;
}

#Edag
{
    width: 120px;
}

#Janssen
{
    width: 150px;
}

#VW
{
    width: 135px;
}
.company {
    color: rgba(234, 215, 7, 0.983);
    text-align: center;
    
}


.Background {
    padding-left: 35px;
    padding-top:1.5em;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

.empty{
    padding:1em;
     
}

#Software{
    padding-top: 1.5em;
    padding-bottom: 1em;
   
}

#Description{
    padding-top: 1em;
    padding-bottom: 1em;
}

footer{
    background-color: #002868;
    text-align: center;
  
    
}

#ending
{
    color: lightyellow;
    font-family: cursive;
    font-family: cursive;
}

