*{
    margin: 0;
    padding: 0;
}

.grid-4{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; /*se puede utilizar fr o %*/
}

@media screen and (min-width:300px) {
section{
    background-color: lightblue;
    border: 2px solid darkblue;
    grid-column: span 2;
      }
}

@media screen and (max-width:300px) {
    section{
        background-color: blue;
        border: 2px solid darkblue;
        grid-column: span 4;
          }
    }

aside{
    background-color: lightgreen;
}

#principal{
    background-color: lightsalmon;
    grid-column: 2/4; /* El espacio que ocupa desde la primera linea del grid hasta la cuarta lìnea del grid*/
}